#FileName{
	min-width: 100px;
	padding-left:10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
	font-weight: bold;
	font-size: x-large;
	font-family:Arial;
}

.Class{
	left: 0px;
	right: 0px;
	height: 40px;
	padding-left: 10px;
	margin-left: 2px;
	border: 2px solid black;
	background: linear-gradient(to bottom right,#CCCCFF,#FFFFFF);
}
.ClassSpan{
	font-family:Arial;
	text-shadow:1px 1px 0px rgb(0,0,0);
	color:rgb(255,255,255);
	height: 30px;
	position:relative;
	top: 5px;
	left:0px;
	text-align: left;
	font-size: x-large;
	font-weight: bold;
}

.ClassTitleSpan{
	font-family:Arial;
	text-shadow:1px 1px 0px #ffffff,1px -1px 0px #ffffff,-1px 1px 0px #ffffff,-1px -1px 0px #ffffff;
	color:#000000;
	height: 30px;
	position:relative;
	top: 5px;
	left:0px;
	text-align: left;
	font-size: x-large;
	font-weight: bold;
}

.TOC{
	font-family:Arial;
	min-width: 120px;
	min-height: 10px;
	padding: 5px;
	margin-top: 5px;
}
.bodyContainer{
	width: auto;
	overflow:hidden;

}

.lib_name
{
	position:relative;
	padding:5px 10px;
	font-size:18px;
	background-color:#ffa544;
	display: inline-block;
	border-radius: 4px;
	color:#552200;
	text-shadow:0px 1px 0px #ffffff;
	box-shadow: 
    inset 0 3px 2px rgba(255,255,255,.22), 
    inset 0 -3px 2px rgba(0,0,0,.17), 
    inset 0 20px 10px rgba(255,255,255,.12), 
    0 0 4px 1px rgba(0,0,0,.1), 
    0 3px 2px rgba(0,0,0,.2);
}

.lib_name_gray
{
	position:relative;
	padding:5px 10px;
	font-size:18px;
	background-color:#888888;
	display: inline-block;
	border-radius: 4px;
	color:#555555;
	text-shadow:0px 1px 0px #ffffff;
	box-shadow: 
    inset 0 3px 2px rgba(255,255,255,.22), 
    inset 0 -3px 2px rgba(0,0,0,.17), 
    inset 0 20px 10px rgba(255,255,255,.12), 
    0 0 4px 1px rgba(0,0,0,.1), 
    0 3px 2px rgba(0,0,0,.2);
}

.input_var
{
	position:relative;
	padding:2px 3px;
	background-color:#AAFFAA;
	display: inline-block;
	border-radius: 14px;
	box-shadow: 
    inset 0 3px 2px rgba(255,255,255,.22), 
    inset 0 -3px 2px rgba(0,0,0,.17), 
    inset 0 20px 10px rgba(255,255,255,.12), 
    0 0 4px 1px rgba(0,0,0,.1), 
    0 3px 2px rgba(0,0,0,.2);
}

.input_var_name
{
	position:relative;
	margin-left:5px;
	margin-right:5px;
	font-weight:700;
	width:auto;
	display: inline-block;
	 color:#2a8e6a;
	font-family:Arial;
	font-size:14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #f1fdf1;
}

.method_button
{
	position:relative;
	padding:2px 3px;
	margin-right:5px;
	margin-bottom:5px;
	background-color:#4444FF;
	display: inline-block;
	border-radius: 14px;
	cursor:pointer;
	box-shadow: 
    inset 0 3px 2px rgba(255,255,255,.22), 
    inset 0 -3px 2px rgba(0,0,0,.17), 
    inset 0 20px 10px rgba(255,255,255,.12), 
    0 0 4px 1px rgba(0,0,0,.1), 
    0 3px 2px rgba(0,0,0,.2);
}

.method_button_extended
{
	position:relative;
	padding:2px 3px;
	margin-right:5px;
	margin-bottom:5px;
	background-color:#8888FF;
	display: inline-block;
	border-radius: 14px;
	cursor:pointer;
	box-shadow: 
    inset 0 3px 2px rgba(255,255,255,.22), 
    inset 0 -3px 2px rgba(0,0,0,.17), 
    inset 0 20px 10px rgba(255,255,255,.12), 
    0 0 4px 1px rgba(0,0,0,.1), 
    0 3px 2px rgba(0,0,0,.2);
}

.method_button_name
{
	position:relative;
	margin-left:5px;
	margin-right:5px;
	font-weight:700;
	width:auto;
	display: inline-block;
	 color:#DDDDFF;
	font-family:Arial;
	font-size:16px;
	text-decoration:none;
	text-shadow:0px -1px 0px #21212d;
}

.return
{
	position:relative;
	padding:2px 3px;
	background-color:#FFAAAA;
	display: inline-block;
	border-radius: 14px;
	box-shadow: 
    inset 0 3px 2px rgba(255,255,255,.22), 
    inset 0 -3px 2px rgba(0,0,0,.17), 
    inset 0 20px 10px rgba(255,255,255,.12), 
    0 0 4px 1px rgba(0,0,0,.1), 
    0 3px 2px rgba(0,0,0,.2);
}

.return_name
{
	position:relative;
	margin-left:5px;
	margin-right:5px;
	font-weight:700;
	width:auto;
	display: inline-block;
	 color:#8e2a6a;
	font-family:Arial;
	font-size:14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #fdf1f1;
}

a {
	text-decoration: none; 
	padding: 6px;
	color:blue;
}

a:hover{
	color: #B8B8E6;
	margin-left: 5px;
}

.circleImage{
	width:20px;
	height:20px;
	margin-left: 10px;
	margin-top: 10px;
	display:inline-block;
	background:#B8B8E6;
	border-radius: 50%;
	padding: 1px;
}

.circleImage:hover{
	opacity: .75;
}

.scrollImage{
	width: 50px;
	height: 50px;
	float: left;
	left: 0px;
	position:fixed;
	bottom: 20px;
	left: 30px;
}

.Fields{
	position:relative;
	height: 40px;
	border-bottom: 2px solid black;
	background: #CCCCFF;
}

.fmHeader{
	left: 10px;
	top: -3px;
	display:inline;
	font-family:Arial;
}

.Methods{
	position:relative;
	width: 100%;
	height: 40px;
	border-bottom: 2px solid black;
	background: linear-gradient(to bottom right,#CCCCCC,#FFFFFF);
}

.fmContainer{
	position:relative;
	min-height: 40px; 
	min-width: 250px;
	margin: 10px;
	border: 2px solid black;
}

.tableBody{
	min-height:200px;
}

.fm{
	position:relative;
	width: 100%;
	overflow:hidden;
	border-bottom: 1px solid #CACADC;
	
	
}
.text{
	position:relative; 
	display:inline-block;
	
}

.Type{	
	font-family:Courier;
	font-size: 22px;
	top: 12px;
	left: 20px;
	color:#990000;
}
.params{
	font-family:Courier;
	font-size: 22px;
	top: 12px;
	left: 30px;
	text-align:left;
	color:#005500;
}

.inherited{
	font-family:Courier;
	font-size: 22px;
	top: 12px;
	left: 40px;
	text-align:left;
	color:#8888FF;
}

.fieldname{
	left: 30px;
	top: 12px;
	color:blue;
	min-width: 20%;
	text-align:left;
	text-transform: uppercase;
}
.methodname{
	font-size: 22px;
	font-family:Courier;
	font-weight: bold;
	left: 30px;
	top: 12px;
	color:blue;
	
}

.descont{
	width:100%;
	position:relative;
	padding-bottom: 10px;
	padding-top: 15px;
	display: inline-block;
	
}
.description{
	padding: 0px 20px 0px 20px;
	position:relative;	
	font-family:Arial;
}
